:root {
    --blue: lightseagreen;
    --light: #fff;
    --dark: #000;
    --darkgreen: rgb(20, 114, 109);
    --lightblue: rgb(66, 221, 195);
}

* {
    font-family: Calibri, sans-serif;
}

body {
    background: var(--light);
}

.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-button button {
    font-size: 30px;
    font-weight: 500;
    color: var(--light);
    padding: 7px 15px;
    border-color: var(--darkgreen);
    border-width: 3px;
    border-radius: 8px;
    background: var(--blue);
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-button button:hover {
    background: var(--lightblue);
    color: var(--darkgreen);
}

.start-screen {
    text-align: center;
    margin: 5px 150px;
    font-size: 20px;
    left: 50%;
    padding-top: 400px;
    transform: translate(0%, -50%);
}

.title {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--blue);
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(
            to right,
            var(--light),
            var(--darkgreen),
            var(--light)
        )
        1;
}

.highscoreList .title {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--blue);
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(
            to right,
            var(--light),
            var(--darkgreen),
            var(--light)
        )
        1;
}

a {
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    margin: 0 auto;
}

.timer {
    display: flex;
    float: right;
    justify-content: space-between;
    width: 10%;
    font-weight: 700;
    font-size: 22px;
}

.timer-seconds {
    color: var(--blue);
}

.questionText {
    font-size: 25px;
    font-weight: 600;
}

.answerList {
    display: block;
    padding: 10px 0;
}

.answerText {
    background: var(--blue);
    border: 2px solid var(--darkgreen);
    color: var(--light);
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.answerText:hover {
    background: var(--lightblue);
    color: var(--darkgreen);
    cursor: pointer;
}

/* .questions {
    opacity: 0;
} */

.endScreen {
    position: relative;
    padding-bottom: 200px;
}

/* .endScreen2 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.submit button {
    font-size: 25px;
    font-weight: 500;
    color: var(--light);
    padding: 3px 7px;
    border-color: var(--darkgreen);
    border-width: 3px;
    border-radius: 8px;
    background: var(--blue);
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit button:hover {
    background: var(--lightblue);
    color: var(--darkgreen);
}

.hsname {
    height: 30px;
    width: 175px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instructions {
    padding-top: 25px;
}

.score {
    display: inline-block;
}
