:root {
    --blue: lightseagreen;
    --light: #fff;
    --darkgreen: rgb(20, 114, 109);
    --lightblue: rgb(66, 221, 195);
}

* {
    font-family: Calibri, sans-serif;
}

body {
    background: var(--light);
}

.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-button button {
    font-size: 30px;
    font-weight: 500;
    color: var(--light);
    padding: 7px 15px;
    border-color: var(--darkgreen);
    border-width: 3px;
    border-radius: 8px;
    background: var(--blue);
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-button button:hover {
    background: var(--lightblue);
    color: var(--darkgreen);
}

.start-screen {
    text-align: center;
    margin: 5px 150px;
    font-size: 20px;
    left: 50%;
    padding-top: 400px;
    transform: translate(0%, -50%);
}

.start-screen .title {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--blue);
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(
            to right,
            var(--light),
            var(--darkgreen),
            var(--light)
        )
        1;
}

a {
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    margin: 0 auto;
}

.timer {
    display: flex;
    float: right;
    justify-content: space-between;
    width: 10%;
    font-weight: 700;
    font-size: 22px;
}

.timer-seconds {
    color: var(--blue);
}
